{{- $featured_image := partial "func/GetFeaturedImage.html" . -}}
{{- if .IsPage -}}
  {{- $articleType := "Article" -}}
  {{- if or (in (slice "crypto" "funds" "youtube" "viral") .Section) (in (slice "crypto" "funds" "youtube" "viral") .Type) -}}
    {{- $articleType = "NewsArticle" -}}
  {{- else if eq .Type "tools" -}}
    {{- $articleType = "TechArticle" -}}
  {{- end -}}

  {{- $author := dict "@type" "Organization" "name" "NovumWorld Editorial Team" "url" "https://novumworld.com/about/" "logo" (dict "@type" "ImageObject" "url" "https://novumworld.com/images/logo-tech.jpg") -}}
  {{- with .Params.author -}}
    {{- $author = dict "@type" "Person" "name" . -}}
  {{- end -}}

  {{- $publisher := dict "@type" "Organization" "name" "NovumWorld" "url" "https://novumworld.com/" "logo" (dict "@type" "ImageObject" "url" "https://novumworld.com/images/logo-tech.jpg") -}}

  {{- $desc := "" -}}
  {{- with .Description -}}
    {{- $desc = . -}}
  {{- else -}}
    {{- $desc = (.Summary | plainify | truncate 160) -}}
  {{- end -}}

  {{- $schemaData := dict "@context" "https://schema.org" "@type" $articleType "headline" .Title "description" $desc "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink) "author" $author "publisher" $publisher "inLanguage" .Lang "wordCount" .WordCount -}}

  {{- with $featured_image -}}
    {{- $schemaData = merge $schemaData (dict "image" .) -}}
  {{- end -}}

  {{- with .Params.categories -}}
    {{- if gt (len .) 0 -}}
      {{- $schemaData = merge $schemaData (dict "articleSection" (index . 0)) -}}
    {{- end -}}
  {{- end -}}

  {{- with .Params.tags -}}
    {{- if gt (len .) 0 -}}
      {{- $schemaData = merge $schemaData (dict "keywords" (delimit . ", ")) -}}
    {{- end -}}
  {{- end -}}

<script type="application/ld+json">
{{ $schemaData | jsonify (dict "indent" "  ") | safeJS }}
</script>

  {{- with .Params.faq -}}
    {{- $faqEntities := slice -}}
    {{- range . -}}
      {{- $faqEntities = $faqEntities | append (dict "@type" "Question" "name" .question "acceptedAnswer" (dict "@type" "Answer" "text" .answer)) -}}
    {{- end -}}
    {{- if gt (len $faqEntities) 0 -}}
<script type="application/ld+json">
{{ dict "@context" "https://schema.org" "@type" "FAQPage" "mainEntity" $faqEntities | jsonify (dict "indent" "  ") | safeJS }}
</script>
    {{- end -}}
  {{- end -}}

  {{- $breadcrumbItems := slice (dict "@type" "ListItem" "position" 1 "name" "Home" "item" .Site.BaseURL) -}}
  {{- if .Section -}}
    {{- $breadcrumbItems = $breadcrumbItems | append (dict "@type" "ListItem" "position" 2 "name" .CurrentSection.Title "item" .CurrentSection.Permalink) -}}
    {{- $breadcrumbItems = $breadcrumbItems | append (dict "@type" "ListItem" "position" 3 "name" .Title "item" .Permalink) -}}
  {{- else -}}
    {{- $breadcrumbItems = $breadcrumbItems | append (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink) -}}
  {{- end -}}
<script type="application/ld+json">
{{ dict "@context" "https://schema.org" "@type" "BreadcrumbList" "itemListElement" $breadcrumbItems | jsonify (dict "indent" "  ") | safeJS }}
</script>

{{- else -}}
{{- /* Non-page: basic WebSite and Global Organization schema */ -}}
<script type="application/ld+json">
{{ dict "@context" "https://schema.org" "@type" "WebSite" "name" .Site.Title "url" .Site.BaseURL "description" (default "" .Site.Params.description) | jsonify (dict "indent" "  ") | safeJS }}
</script>

<script type="application/ld+json">
{{ dict "@context" "https://schema.org" "@type" "Organization" "name" "NovumWorld" "url" .Site.BaseURL "logo" (printf "%simages/logo-tech.jpg" .Site.BaseURL) "sameAs" (slice "https://twitter.com/novumworld" "https://www.linkedin.com/company/novumworld") "contactPoint" (dict "@type" "ContactPoint" "contactType" "editorial" "email" "editorial@novumworld.com") | jsonify (dict "indent" "  ") | safeJS }}
</script>
{{- end -}}
