{{ define "main" }}

  {{- $config := site.Params.ananke.home -}}
  {{- $text_alignment := "tc-l" -}}
  {{- if eq $config.content_alignment "left" -}}
    {{- $text_alignment = "tl-l" -}}
  {{- else if eq $config.content_alignment "right" -}}
    {{- $text_alignment = "tr-l" -}}
  {{- end -}}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 {{ $text_alignment }} center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}" data-aos="fade-in" data-aos-duration="1500">
    {{ .Content }}
  </article>

  {{/* PAGINACIÓN UNIVERSAL: Mostrar TODOS los posts, paginados */}}
  <div class="pa3 pa4-ns w-100 w-80-ns center">
      
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" (slice "ia" "crypto" "fitness" "youtube" "viral" "tools")) }}
      
      <section class="w-100 mw9 center flex flex-wrap justify-between">
        {{ range $paginator.Pages }}
          <div class="w-100 w-40-l mb4 relative mh2">
            {{ .Render "summary-with-image" }}
          </div>
        {{ end }}
      </section>

      {{/* BOTÓN DE PAGINACIÓN */}}
      <div class="flex justify-center mt5 mb5">
        {{ template "_internal/pagination.html" . }}
      </div>

  </div>
{{ end }}
