{{ define "main" }}
<div class="pa3 pa4-ns w-100 w-70-ns center">

    <h1 class="tc red">DEBUG: MODO BLOG ACTIVADO</h1>

    <section class="w-100 mw8">
        {{/* Forzamos a buscar solo en la sección 'posts' */}}
        {{ $paginator := .Paginate (where .Site.RegularPages "Section" "posts") }}

        {{ range $paginator.Pages }}
        <div class="relative w-100 mb4 bg-white pa3 shadow-4 br3">
            <h2 class="f3 fw1 titillium-web">
                <a href="{{ .RelPermalink }}" class="link black dim">
                    {{ .Title }}
                </a>
            </h2>
            <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
                {{ .Summary }}
            </div>
            <div class="tr">
                <a href="{{ .RelPermalink }}" class="f6 link dim br2 ph3 pv2 mb2 dib white bg-black">Leer más &rarr;</a>
            </div>
        </div>
        {{ end }}
    </section>

    <div class="flex justify-center mt5">
        {{ template "_internal/pagination.html" . }}
    </div>

</div>
{{ end }}