{{- $featured := "" -}}
{{- with .Params.featured_image -}}
  {{- $ref := . -}}
  {{- with $.Resources.GetMatch . -}}
    {{- $featured = .RelPermalink -}}
  {{- else -}}
    {{- if or (hasPrefix $ref "http://") (hasPrefix $ref "https://") -}}
      {{- $featured = $ref -}}
    {{- else -}}
      {{- $featured = printf "/%s" (strings.TrimPrefix "/" $ref) -}}
    {{- end -}}
  {{- end -}}
{{- else -}}
  {{- with .Resources.ByType "image" -}}
    {{- with .GetMatch "**{feature,cover}*" -}}
      {{- $featured = .RelPermalink -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $featured -}}
